/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        tp: tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREFERRED";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        AE: AE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(ENTER) &kp ENTER>;
            label = "AE";
        };

        pwd: pwd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N9 &kp N9 &kp N0 &kp N8 &kp N0 &kp N5>;
            label = "PWD";
        };

        Phone: Phone {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N1 &kp N7 &kp N2 &kp N6 &kp N8 &kp N6 &kp N8 &kp N4 &kp N8 &kp N5 &kp N4>;
            label = "PHONE";
        };

        Address: Address {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(A) &kp N1 &kp N2 &kp N1 &kp N0 &kp N9 &kp SPACE &kp SPACE &kp N1 &kp N7 &kp N2 &kp N6 &kp N8 &kp N6 &kp N8 &kp N4 &kp N8 &kp N5 &kp N4>;
            label = "ADDRESS";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC        &kp Q  &kp W  &kp E     &kp R     &kp T          &kp Y        &kp U      &kp I      &kp O    &kp P     &kp BSPC
&tp LCTRL TAB  &kp A  &kp S  &kp D     &kp F     &kp G          &kp H        &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT      &kp Z  &kp X  &kp C     &kp V     &kp B          &kp N        &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                             &kp LALT  &kp LGUI  &lt 1 SPACE    &lt 2 SPACE  &kp ENTER  &kp RGUI
            >;
        };

        layer_1 {
            bindings = <
&trans  &kp N1  &kp N2  &kp N3    &kp N4             &kp N5           &kp LC(N)  &kp HOME  &kp UP    &kp END    &kp PG_UP  &trans
&trans  &kp N6  &kp N7  &kp N8    &kp N9             &kp N0           &AE        &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN  &trans
&trans  &pwd    &Phone  &Address  &kp LS(LG(COMMA))  &kp LC(LG(O))    &none      &none     &trans    &trans     &trans     &trans
                        &trans    &trans             &trans           &mo 3      &trans    &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &kp EXCL   &kp AT    &kp POUND  &kp DLLR  &kp PRCNT    &kp LBRC   &kp RBRC   &kp LBKT  &kp RBKT   &none  &trans
&trans  &kp CARET  &kp AMPS  &kp STAR   &kp LPAR  &kp RPAR     &kp MINUS  &kp EQUAL  &kp BSLH  &kp GRAVE  &none  &trans
&trans  &none      &none     &none      &none     &none        &kp UNDER  &kp PLUS   &kp PIPE  &kp TILDE  &none  &trans
                             &trans     &trans    &mo 3        &trans     &trans     &trans
            >;
        };

        layer_3 {
            bindings = <
&kp F1      &kp F2         &kp F3         &kp F4         &kp F5  &kp F6    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&bt BT_CLR  &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &none   &none     &none   &none   &none   &none    &none    &none
&none       &none          &none          &none          &none   &none     &none   &none   &none   &none    &none    &none
                                          &none          &none   &none     &none   &none   &none
            >;
        };
    };
};
